body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: "Times New Roman", Arial, Helvetica, sans-serif ;
    font-size: 25px;
    font-style: italic;
    font-weight: normal;
    color: yellow;
    text-align: left;
    text-decoration: underline;
    text-transform: uppercase;/*Sirve para poner todo en mayuscula*/
    /*text-transform: lowercase; sirve para poner minuscula */
}
p{
    text-align:justify;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: capitalize; /*Sirve para poner mayuscula en cada palabra*/
}